@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0 200%
    }

    50% {
        background-position: 300% 200%
    }

    100% {
        background-position: 0 200%
    }
}